<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form th:action="@{/books}" th:object="${book}" method="post">
    <div>
        <label for="title">Введите название книги</label>
        <input id="title" type="text" th:field="*{title}">
        <span style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</span>
    </div>

    <div>
        <label for="author">Выберете автора:</label>
        <select id="author" name="authorId">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}">Author
            </option>
        </select>
        <span style="color:red" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}">Error</span>
    </div>

    <div>
        <label for="genres">Выберете жанр:</label>
        <input id="genres" type="checkbox" name="genreIds"
               th:each="genre : ${genres}"
               th:text="${genre.name}"
               th:value="${genre.id}"/>
        <span style="color:red" th:if="${#fields.hasErrors('genreIds')}" th:errors="*{genreIds}">Error</span>
    </div>
    <button type="submit">Добавить книгу</button>
</form>
</body>
</html>
